# I. Оператори порівняння та логічні оператори. Умови.

1. (5б) Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [2]:
digit = 3
print(digit * 2 if digit % 2 == 0 else digit * 3 + 1)

10

2. (9б) Створіть змінну, що посилається на список. Якщо список пустий, додайте будь-який елемент у кінець списку. Якщо ж ні, то нічого не робіть.

In [7]:
my_list = list()
if not my_list:
  my_list.append(3)
my_list

[3]

3. (13б) Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [14]:
name = "Artem"
lower_name = name.lower()

if 'a' in lower_name or 'i' in lower_name:
    print("A or I is in the name")

if 'o' in lower_name and 'n' in lower_name:
    print("O and N is in the name")
elif 'o' not in lower_name and 'n' in lower_name:
    print("Only N is in the name")
else:
    print("There is no N in the name, but there might be O")

A or I is in the name
There is no N in the name, but there might be O

# II. Comprehensions.

4. (5б) Створіть список, використовуючи if (не if-else), range та comprehension.

In [15]:
even_numbers = [x for x in range(21) if x % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

5. (9б) Створіть словник, використовуючи dict comprehension, що містить if else. Коли слід використовувати comprehensions, а коли їх слід уникати?

In [16]:
my_dict = {x: ("even" if x % 2 == 0 else "odd") for x in range(1, 11)}
my_dict

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even'}

Слід використовувати коли потрібно швидко створити колекцію з простими перетвореннями і фільтрацією, коли логіка компактна. Уникати коли логіка складна або коли comprehension стає важким для читання.

6. (9б) Створіть список з рядками та запишіть його у змінну. Створіть ще один список на основі попереднього, де кожен рядок буде містити тільки три перших заглавних символи. Наприклад: ['hello', 'i', 'dont', 'care'] -> ['HEL', 'I', 'DON', 'CAR']. Використання comprehensions обовʼязкове.

In [19]:
list1 = ['hello', 'i', 'dont', 'care']
list2 = [x[:3].upper() for x in list1]
list2

['HEL', 'I', 'DON', 'CAR']

# III. Цикли.

7. (5б) Продемонструйте роботу циклу while. Не можна використовувати True для запуску циклу, щоб уникнути безкінечного циклу!

In [21]:
x = 10
while (x!=0):
  print(x)
  x-=2

10
8
6
4
2

8. (5б) Напишіть програму, яка виведе на екран непарні числа в діапазоні від 0 до 20 включно.

In [25]:
x = 0
while (not x > 20):
  if (not x % 2 == 0):
    print(x)
  x+=1

1
3
5
7
9
11
13
15
17
19

9. (13б) Створіть список з елементами булевого типу або None. Використовуючи цикли, отримайте в результаті список з кортежами, де перший елемент кортежу - індекс(ціле число), а другий елемент - відповідне значення з першого списку.

Наприклад, [True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

In [29]:
list1 = [True, False, None, False]
list2 = list()
for i in range(len(list1)):
  list2.append((i, list1[i]))
list2

[(0, True), (1, False), (2, None), (3, False)]

10. (9б) Створіть словник, де ключі - назви книжок, а значення - їхня кількість у наявності в Вашій міні-бібліотеці. Бібліотека має містити щонайменше 6 книжок (6 пар значень у словнику) і щонайбільше 10 (пар значень). Використовуючи цикли, оновіть словник (не створюйте новий) так, щоби кількість книг у наявності збільшилося на 5 кожної книги. Наприклад,
{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13} -> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [31]:
library = { "1984": 3,
           "Kobzar": 2,
            "Natalka Poltavka": 4,
            "Bible": 5,
            "Zacharovana Desna": 1,
            "1918": 2,
            "War and Peace": 3,
            "Lisova Pisnya": 6
}
for book, count in library.items():
  library[book] = count + 5
library

{'1984': 8,
 'Kobzar': 7,
 'Natalka Poltavka': 9,
 'Bible': 10,
 'Zacharovana Desna': 6,
 '1918': 7,
 'War and Peace': 8,
 'Lisova Pisnya': 11}

11. (5б) Визначте цілочислену змінну n, що належить проміжку від 4 до 10 включно. Використовуючи цикли, виведіть в консоль наступний патерн.

#
##
###
####

... #*n

In [34]:
n = 10
string = ""
for i in range(6):
  if i <= 2:
    string += '.'
  elif i == 3:
    string += '#'
  elif i == 4:
    string += '*'
  else:
    string += str(n)
print(string)

...#*10

12. (13б) Гра "Нумо вгадай".
Розробіть просту гру, де користувач має вгадати випадкове число від 1 до 100. Для генерації випадкового числа використовуйте функцію random.randint(a, b) (тут a та b включно). Для отримання числа з консолі використовуйте функцію input(), результат якої обовʼязково явно приведіть до типу int.

Підказка: використовуйте цикл while та умови if-else, щоб повідомити користувачу піказки (напр. "Більше", "Менше") поки користувач не вгадає. По завершенню виведіть кількість спроб, які знадобилися для вгадування.

In [38]:
from random import randint

random_number = randint(1, 100)
attempts = 0
user_number = None
while True:
  user_number = int(input())
  attempts += 1
  if(user_number < random_number):
    print("Your number is smaller")
  elif(user_number > random_number):
    print("Your number is bigger")
  else:
    print(attempts)
    break

50
Your number is smaller
75
Your number is bigger
62
Your number is smaller
69
Your number is smaller
71
Your number is smaller
72
6

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.